<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>PgMon Database Inventory</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>


<table border="0" class="main">
    <tbody>
    <tr>
	<td class="top"></td>
	<td class="top">

<div id="logo">
    <h1>PgMon</h1>
    <p><em>PostgreSQL Monitoring Solution</em></p>
</div>

	</td>
    </tr><tr>
	<td class="search">search</td>

	<td class="topmenu">

{% block topmenu %}
<table class="top_menu">
    <tr>
	<td class="menuitem"><a class="menu" href="/about">About</a></td>
	<td class="menuitem"><a class="menu" href="/config">Config</a></td>
	<td class="menuitem"><a class="menu" href="/stat">Satistic</a></td>
	<td class="menuitem"><a class="menu" href="/doc">Documentation</a></td>
    </tr>
</table>
{% endblock topmenu %}

	</td>
    </tr><tr>
	<td class="navi">{% block navi %}{% endblock navi %}
</td>
	<td class="content">{% block text %}{% endblock text %}</td>
    </tr><tr>
	<td class="copyright" colspan="2">Copyright &copy PgMon 2012</td>
    </tr>
    </tbody>
</table>
</html>