html, body {
    margin:0px;
    padding:0px;
}
body, input, select, textarea {
    background-color: #ffffff;
}

ul {
    padding: 0;
    margin-left: 20px;
}

td, input, select, textarea {
    font-family: Tahoma;
    font-size: 11px;
    color: #000000;
    vertical-align: top;
}


table.main {width: 100%; height: 100%; border-collapse: collapse;}
td {padding: 0px;}
td.top {}
td.host_text {}
td.topmenu {}
td.host_list {width: 17%;}
td.main_window {width: 83%; height: 100%;}
td.copyright {}
td.bottom {}

.range_set {
    width: 180px;
    padding: 2px;
    padding-left: 15px;
}